
ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
.is-hidden {
  display: none;
}
img{
  display: block;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
.section {
  padding-bottom: 120px;
  padding-top: 120px;
}
body {
  /* background-image: url(../images/MainPage.jpg);
    background-repeat: no-repeat; */
  margin: 0;
}

/* ************************************************** */
.header{
  border-bottom: 1px solid #e7e9fc;
}
.container-nav {
  background: #ffffff;
  display: flex;
  box-sizing: border-box;
  /* padding: 24px 0; */
}
.nav {
  display: flex;
  margin-right: 332px; 
  align-items: center; 
  /* padding: 24px 0;  */
}
.logo {
  padding: 24px 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height, or 117% */
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  margin-right: 76px;


}
.logo span {
  color: #4d5ae5;
}

.nav-ul {
  display: flex;
}
.nav-ul li{
  padding: 24px 0;
}

.menu {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;
  color: #2e2f42;
}
/* .nav-ul li{
  padding: 24px 0; 
} */

.nav-ul li:not(:last-child) {
  margin-right: 40px;
}
.contacts {
  
  display: flex;
  gap: 40px;
}
.contacts li{padding: 24px 0; }
/* .contacts li:first-child {
  margin-right: 40px;
} */
.contacts-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;
  color: #434455;
}
.visually-hidden {
  display: none;
}
/* ************************************     HERO    ***********************  */
.hero {
  width: 1440px;
  background: #2e2f42;
  margin: 0 auto;
  padding-bottom: 188px;
  padding-top: 188px;
}
.container-hero {
  width: 496px;
  padding-left: 472px;
  padding-right: 472px;
  margin-right:0px;
  margin-left: 0;
  
}
.hero-title {
  max-width: 496px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  /* or 107% */
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  /* margin: 0; */
  /* padding-left: 472px; */
  /* padding-right: 472px; */

  margin-left: auto;margin-right: auto;
  
  margin-bottom: 48px;
}
.hero-button {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: 0;
  min-width: 169px;
  height: 56px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  /* padding: 16px 32px 16px 32px; */
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

/* *****************************   ARTICLES   ********************** */

.articles {
  display: flex;
 
  
}
.articles-container{

}
.articles-li{
  width: 264px;
  margin-right: 24px;
}
.articles-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  letter-spacing: 0.02em;
  /* NAVY BLUE */
  color: #2e2f42;
  margin-top: 0;
  margin-bottom: 8px;
 
}
.article {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  letter-spacing: 0.02em;
  color: #434455;
}
.articles :last-child {
  margin-right: 0;
}

/* *******************************************    ACTIVITY   **************** */


.activity-title,
.command-title,
.clients-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  /* identical to box height, or 111% */
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
  margin-top: 0;
}
.activity-images {
  display: flex;
}
.activity-li {
  margin-right: 24px;
  border: 1px solid #e7e9fc;
  height: 300px;
  width: calc((100% - 48px) / 3);
}
.activity-images :last-child {
  margin-right: 0;
}

/* ***************************      COMMAND    ***************** */
.command-list {
  display: flex;
  gap:24px;
}
.command {
  padding-top: 120px;
  background: #f4f4fd;
}

.command-li {
  width: 264px;
  /* margin-right: 24px; */
  /* padding-bottom: 32px; */
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}
/* .command-list :last-child{
    margin-right: 24px;
} */
.command-foto {
  /* margin-bottom: 32px; */
  /* margin-bottom: 5px; */
  display: block;
}

.command-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 0px;
  margin-bottom: 8px;
}

.command-position {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}
.figure-caption {
  /* padding-left: 68px; */
  /* padding-right: 68px; */
  /* margin-right: 0; */
  /* margin-bottom: 32px; */
  /* vertical-align: top; */
  padding: 32px 16px;
}

/* ***************************     FOOTER      *********** */
.footer {
  width: 1440px;
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
}
.container-footer {
  
}
.footer-logo {
  display: inline-block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height, or 117% */
  /* display: flex; */
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  margin-bottom: 16px;
}
.footer-logo span {
  color: #4d5ae5;
}
.advert {
  max-width: 264px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* ***************************************************** */
/* ***********************       PORTFOLIO     ********* */
/* ***************************************************** */
.filter-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filter {
  display: flex;
  /* margin-left: 271px; */
  margin-left: auto;margin-right: auto;
  gap:24px;
  margin-bottom: 72px;
  justify-content: center;
}

.filter li {
  box-sizing: border-box;
  justify-content: center;
  /* display: flex;
  flex-direction: row; */
 
  /* padding: 12px 24px; */
  /* width: 116px;
    height: 48px; */
  /* background: #F4F4FD; */
 
  background: none;
  
  
}
.filter-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  justify-content: center;
  
}
.filter-button:hover,
.filter-button:focus{
  background: #404BBF;
  color: #FFFFFF;
  border: 1px solid transparent
}
.example-list {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  row-gap: 48px;
}
.example {
  box-sizing: border-box;
  width: 360px;
  margin-right: 24px;
  /* margin-bottom: 48px; */
  background: #ffffff;
  /* border: 1px solid #e7e9fc; */
}

.example-list :nth-child(3n + 3) {
  margin-right: 0;
}
.example-list :nth-child(n + 6) {
  margin-bottom: 0;
}
.work-foto-wrap {
  /* margin-bottom: 32px; */
}
.work-capture {
  padding-left: 16px;
  border: 1px solid #E7E9FC;
  border-top: none; 
  padding: 32px 16px;
}
.works-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  margin-top: 0;
}
.works-type {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 32px;
}
